$zeta-global-color:#569ce1;
$zeta-global-color-heighlight:#4d8cca;
$zeta-global-color-disable:#CACBCF;
$zeta-global-no-data: #CCC;
$zeta-global-light-grey: #F9F9FA;
$zeta-global-F2: #F2F2F2;
$zeta-font-color:#333;
$zeta-font-light-color:#999;
$zeta-font-weight:500;
$zeta-label-lvl1:#F3F4F6;
$zeta-label-lvl2:#F9F9FA;
$zeta-global-color-red: #E53917;
$zeta-global-red-hover: #CE3315;
$zeta-global-color-red-background: #FDEBE7;
$zeta-global-color-green:#5CB85C;
$zeta-global-color-green-hover:#52a552;
$zeta-global-color-green-background: #EFF8EF;
$zeta-global-color-brown:#F3AF2B;
$zeta-primary-background: #f6fafd;
/* workspace*/
$workspace-tab-height:30px;
$workspace-tab-margin-bottom:10px;

/* font */
$font-default:'ArialMT',
'Arial';
$font-bord:'Helvetica-Bold',
'Helvetica Bold',
'Helvetica';

/* input */
$input-line-height:30px;
$input-font-size:14px;

/* table header */
$header-color:#333;